body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #9696de;
    color: var(--dark-text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: white;
    position: sticky;
    top: 0;
    padding: 0;
    text-align: center;
}

h1, h2 {
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 0.5em;
}
h1.logo {
    font-size: 1.8em;
    color: black
}

.navbar {
    background-color: var(--primary-color);
    color: #200f0f;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0;
    padding: 0;
}

.nav-container {
    display: flex;
    gap: 1em;
    padding: 1em 2em;
    align-items: center;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #1d4ed8;
    text-decoration: wavy underline;
}

p {
    margin-bottom: 1em;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 0.25em;
}

.hero{
    background: linear-gradient(90deg, white 3%, #9696de 100%);
    padding: 2em;
    text-align: center;
    margin-bottom: 1em;
}

.property-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.property-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.property-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}