body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #9696de;
    color: var(--dark-text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2 {
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 0.5em;
}
h1.logo {
    font-size: 1.8em;
    color: black
}

.navbar {
    background-color: var(--primary-color);
    color: #200f0f;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}
